// Place all the styles related to the api/post_likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-likes {
  padding: 0 18px;
  font-weight: 600;
  font-size: 14px;
  color: inherit;
}

.modal-title {
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.follow-btn {
  float: right;
}


.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}